*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 a{
    text-decoration: none;
}


 /*====  VARIABLES ============================ */

:root {
 
  /* colors */
  --hue: 146;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 49% 36%);
  --base-color-second: hsl(0,0%,88%);
  --base-color-alt: hsl(var(--hue) 47% 53% /0.34);
  --title-color: hsl(0 0% 100%);
  --subtitle-color: hsl(0 0% 0%);

  /* fonts */
  --title-font-size: 1.5rem;
  --subtitle-font-size: 1rem;
  --family-font: 'Maven Pro', sans-serif;
}

html{
      overflow-x: hidden;
}
