.tabs{
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10rem;
}

.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    margin-bottom: 10rem;
}

.tab-list {
    display: flex;
    /* width: 35%; */
    height: 2.5rem;
    justify-content: center;
    background-color: var(--base-color-second);
    border-radius: .5rem;
}

.background{
    width: 20vw;
    height: 14rem;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    box-shadow: var(--base-color);
    transition: transform .2s ease-in-out ;
    animation: fadeInUp .6s;
}


.background:hover{
    opacity: 0.8;
    transform: translateY(-10px);
    transition-duration: .2s;
}

.title{
    text-align: center;
    font: 700 var(--title-font-size) var(--family-font);
    color: var(--title-color);
    margin-top: 11rem;
    position: absolute;
}

@media only screen and (max-width: 545px){

    .tab-list{
        width: 40%;
        height: auto;
      justify-content: center;
    }

    .background{
        width: 40vw;
        height: 10rem;
    }

    .title{
        font-size: var(--subtitle-font-size);
    }

    .cards{
        max-width: 1280px;
        grid-template-columns: repeat(2,1fr);
    }
  }